body {
    background-color: #2C3E50;
    color: #000;
}

.card-deck {
    align-items: flex-start;
}

.copper {
    border: solid 0.4rem #d88656;
}
.silver {
    border: solid 0.4rem #92acb4;
}
.gold {
    border: solid 0.4rem #d8c44f;
}
.platinum {
    border: solid 0.4rem #92c1cd;
}

#toolbar-wrapper {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    display: flex;
    padding-top: 5px;
    padding-left: 5px;
}
#toolbar-toggle {
    margin-right: 5px;
}

#toolbar .form-control, #toolbar .dropdown {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.card {
    min-width: 18rem;
    max-width: 18rem;
}

.card-columns {
    column-count: auto;
    column-width: 18rem;
    width: 100%;
    column-gap: 30px;
}

.spellcard {
    display: inline-block !important;
}

.adminwarning {
    color: white;
    text-align: center;
    margin: 1rem;
}
.adminwarning > * {
    margin: 0;
}

.card-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    font-family: BookSanity;
    padding: 16px;
    /* background-color: #e6ddbe; */
    background-image:
        url("/static/img/homebrewery_bg.jpg");
    font-size: smaller;
    background-origin: content-box;
}


.copper > .card-body, .bronze > .card-body {
    background-image:
        url("/static/img/bronzealpha.png"),
        url("/static/img/homebrewery_bg.jpg");
    background-size: 180%, auto;
    background-repeat: no-repeat, repeat;
    background-position: center, left;
}

.silver > .card-body {
    background-image:
        url("/static/img/silveralpha.png"),
        url("/static/img/homebrewery_bg.jpg");
    background-size: 180%, auto;
    background-repeat: no-repeat, repeat;
    background-position: center, left;
}

.gold > .card-body {
    background-image:
        url("/static/img/goldalpha.png"),
        url("/static/img/homebrewery_bg.jpg");
    background-size: 180%, auto;
    background-repeat: no-repeat, repeat;
    background-position: center, left;
}

.platinum > .card-body {
    background-image:
        url("/static/img/platinumalpha.png"),
        url("/static/img/homebrewery_bg.jpg");
    background-size: 180%, auto;
    background-repeat: no-repeat, repeat;
    background-position: center, left;
}

.chronicleentry {
    background-size: 130%, auto !important;
}

.card-body h4, .cardlike h4, .questtitle {
    font-family: MrJeeves;
    color: #58180D;
}
.card-body h4, .cardlike h4 {
    text-align: center;
    font-weight: 800;
    font-size: large;
}

.card-body ul, .cardlike ul {
    text-align: left;
}
.card-body hr, .cardlike hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}