{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/questboard.css') }}">
{% endblock %}

{% block content %}
<div class="justify-content d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <div id="card-container" class="px-4 mt-3">
        {% block header %}
        {% endblock %}
        <div class="row">
            <div class="{% block decktype %}card-deck{% endblock %}">
                {% block cards %}
                {% endblock %}
            </div>
        </div>
        {% block footer %}
        {% endblock %}
    </div>
</div>
{% endblock %}